<h3>Contact</h3>
<div class="col s12 m12">
      <p class="z-depth-4">
<div class="row">
      <div class="col s7 push-s5"><span class="flow-text">
          <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14350.63338974088!2d-80.13727555!3d25.94644065!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1462643248081" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </span></div>
      <div class="col s5 pull-s7"><span class="flow-text">Want to buy me a beer? Feel free to drop by here so we can have a few drinks. :)</span></div>
    </div>
  </p>
</div>
